@model CustomLogin.Models.courses

@{
    ViewBag.Title = "editCourse";
}
<head>
    <meta charest="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>sign up form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  
    <script type="text/javascript" src="js.js"></script>

    <style>
        .form-horizontal {
            width: 30%;
            height: 650px;
            position: absolute;
            text-align: center;
            background-color: rgba(176, 190, 197,0.3);
            padding: 40px;
            top: 20%;
            left: 30%;
            border-radius: 25px;
        }

        input[type="tel"] {
            color: black;
            border: 0.5px solid #c2cdd6;
            background-color: #f0f3f5;
            height: 25px;
            width: 195px;
        }
    </style>
</head>


@using (Html.BeginForm("editCourse", "course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2>Edit</h2>
    <h4>COURSE</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.courseID)
    @Html.HiddenFor(model => model.courseName)
    @Html.HiddenFor(model => model.Capacity)

    <div class="form-group">
        @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.endDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CourseSyllabus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CourseSyllabus, new { htmlAttributes = new { @class = "form-control" } })
            <input type="file" name="file" />

            @Html.ValidationMessageFor(model => model.CourseSyllabus, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
</div>

}

